@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../public/img/lapisbg.png");
  background-color: black;
  /* background-repeat: no-repeat; */
  background-size: contain; 
  background-position: center; 
}

.custom-navbar {
  background-color: #08080a;
}

.glow {
  box-shadow: 0 0 10px rgba(202, 194, 237, 0.8);
}
